<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Some type of file. IDK rn</title>
<link rel="stylesheet" type="text/css" href="/cms_css/stylesheets/application.css">

  </head>
  <body>
    <header>
      <!-- header content here -->
    </header>
    <!-- body content here -->

        <main>
      <%= yield %>
    </main>
  </body>
</html>
