body {
  font-family: sans-serif;

  display:flex;
  flex-direction: column; /* Stack children vertically */
  align-items: stretch; /* This will make the children stretch to the full width of the container */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Make the body at least the height of the viewport */
}

.documents {
    display: flex;
    justify-content: space-between; /* This separates the file name and the edit button */
    align-items: center; /* This centers them vertically */
    padding: 0.5em 0; /* Adds some vertical space between list items */
    color:aqua;
}

.edit-file {
margin-right: 75%;
color:green;

}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}


ul {
  list-style-type: none; /* Removes the default list styling */
  padding: 0; /* Removes default padding */

}

.flash {
 padding: 10px;


}

  .flash.message {

  background-color: cyan;
  color: green;
  width: 100%;

}


.sign-in {
  color: royalblue;
  padding-left: 1em;
  justify-content: flex-start;
}

.sign-in:hover {
  background-color: crimson;
}

.sign-up {
  color:crimson;
 justify-content: flex-end;
}

.sign-up:hover {
background-color: royalblue;
}

button {
  background-color:cyan;
  color: navy

}

button:hover {
  background-color: blueviolet;
}

a {
  color: violet;
}
a:hover {
  background-color: red;
}

input {
  border-style:double;
  border-color:aqua;
}


